<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!doctype html>
<html>
<head>
  <title>404 Not Found | the wulf.</title>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
  <style media="screen">
    body {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      padding: 25px;
    }
    h1 {
      text-align: center;
    }
    a {
      font-style: italic;
    }
  </style>
</head>
<body>
  <h1>Sorry, Page Not Found.</h1>
  <a href="/">return home</a>
</body>
</html>
