{% extends "site_frame.html" %}
{% block content %}

<div>
	
	
<br>

<p>Donate to the wulf. by clicking the paypal link below or sending a check to: 1026 S. Santa Fe Ave. #203.
</p>

<br>
<table border="1" cellspacing="1" cellpadding="5" align="center">
<tbody>
<tr>
<td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=3538893" target="_blank"><img src="/media/legacy/donatepp.gif" width="74" height="21" /></a></td>
</tr>
</tbody>
</table>
</div>

<br>
<p><em>the wulf.</em> is a 501(c)(3) non-profit arts organization. tax deductible contributions to the extent permitted by law may be made payable to <em>the wulf.</em> </p>
<p> basically, we are going to keep all events free. that is the bottom line. donations will be used to offset costs of the organization.       </p>
     

	<p>
	{% if fundraiser_event %}
		{% embed_event_module fundraiser_event 'true' %}
	{% endif %}
	</p>
	
	
{% comment %}
<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <td colspan="3" align="center" valign="middle"> paypal </td>
    <td align="center" valign="middle"> sixdegrees.org </td>
    <td align="center" valign="middle"> misc. </td>
  </tr>
  <tr>
    <td align="center" valign="middle"> one-time </td>
    <td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=3538893" target="_blank"><img src="/media/legacy/donatepp.gif" width="74" height="21" /></a></td>
    <td align="center" valign="middle"> any amount<br />
     </td>
    <td rowspan="9" align="center" valign="middle"> 
      <embed src="http://www.networkforgood.org/PCA/Badge.swf?BadgeId=114622" quality="high" width="159" height="475" name="myMovie" align="" vspace="0" hspace="0" type="application/x-shockwave-flash"></embed>
     </td>
    <td rowspan="10" align="left" valign="top"><p> <em>the wulf.</em> is a 501(c)(3) non-profit arts organization. tax deductible contributions to the extent permitted by law may be made payable to <em>the wulf.</em> </p>
      <p> basically, we are going to keep all events free. that is the bottom line. donations will be used to offset costs of the organization.       </p>
      <p> -more ways to donate- </p>
      <p> check: you may donate a check by sending a check written out to <em>the wulf.</em> and mailing (or handing) it to us at 1026 south santa fe avenue #203, los angeles, ca 90021. for check donations over $1000 dollars provide the major gift letter with the check. (download the major gift letter -<a href="/media/legacy/major_gift_letter.pdf">here</a>-)  </p>
      <p> donations of non-cash items: you may donate non-cash items and receive a tax deduction by sending the non-cash donation letter to <em>the wulf</em>. (download the non-cash donation letter -<a href="/media/legacy/non_cash_donation_letter.pdf">here</a>-)        </p>
      <p> <em>the wulf.</em> is also a sponsored project of fractured atlas, a non-profit arts service organization.        </p>
      <p> fractured atlas<br />
        248 w. 35th street<br />
        suite 1202<br />
        new york, ny 10001-2505<br />
        support@fracturedatlas.org<br />
        <a href="http://www.fracturedatlas.org" target="_blank">http://www.fracturedatlas.org</a><br />
    (212) 277-8020 </p></td>
  </tr>
  <tr>
    <td rowspan="7" align="center" valign="middle"> monthly </td>
    <td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=H2EAVEEASCQSS" target="_blank"><img src="/media/legacy/subscribepp.gif" width="91" height="21" /></a></td>
    <td align="center" valign="middle"> $10 </td>
  </tr>
  <tr>
    <td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=SKNNUJMLTVPA6" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
    <td align="center" valign="middle"> $20 </td>
  </tr>
  <tr>
    <td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=VK83SAH53MEVG" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
    <td align="center" valign="middle"> $30 </td>
  </tr>
  <tr>
    <td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=WRT5Z8UDTZE9U" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
    <td align="center" valign="middle"> $50 </td>
  </tr>
  <tr>
    <td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=H95ZXNTTT4MB4" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
    <td align="center" valign="middle"> $100 </td>
  </tr>
  <tr>
    <td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=BML88Y6FQGNQ6" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
    <td align="center" valign="middle"> $150 </td>
  </tr>
  <tr>
    <td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=Z4LHG7PEDNTH6" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=3376V2JDYYFBN" target="_blank"></a></td>
    <td align="center" valign="middle"> $200 </td>
  </tr>
  <tr>
    <td colspan="3" align="center" valign="middle"><p> you can unsubscribe at any time.  </p>
      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td colspan="3" align="center" valign="middle"><p>&nbsp;</p>
    <p> contact: <br />
      info@thewulf.org<br />
      213.488.1182
     </p></td>
    <td align="center" valign="middle"> this is an interesting organization. you can help fundraise for <em>the wulf.</em> by sharing badges and creating your own. </td>
  </tr>
</table>

{% endcomment %}

</div>

{% endblock %}
