{% extends "site_frame.html" %}
{% block content %}
<div class="events">
	<p>
	<h1>upcoming events</h1>
	
{% comment %}
	{% embed_event_module fundraiser 'true' %}
{% endcomment %}
		
		{% if upcoming_event_list %}
		    {% for event in upcoming_event_list %}
		    
		    {% comment %}
		    {% embed_event_module event 'true' %}
		    {% endcomment %}
		    
{% comment %}
		    	{% if event.name != 'the wulf. 2015 fundraiser' %}
		    
					{% embed_event_module event 'true' %}
			
				{% endif %}
{% endcomment %}
			
		    {% endfor %}
	{% else %}
		<p>
	    no upcoming events
	    </p>
	{% endif %}
	</p>

	<p>
	<h1>past events</h1>
		<ul id="navlist">
			<li><a href="http://www.thewulf.org/events/2015/">2015</a></li>
		    <li><a href="http://www.thewulf.org/events/2014/">2014</a></li>
		    <li><a href="http://www.thewulf.org/events/2013/">2013</a></li>
		    <li><a href="http://www.thewulf.org/events/2012/">2012</a></li>
		    <li><a href="http://www.thewulf.org/events/2011/">2011</a></li>
		    <li><a href="http://www.thewulf.org/events/2010/">2010</a></li>
		    <li><a href="http://www.thewulf.org/events/2009/">2009</a></li>
		    <li><a href="http://www.thewulf.org/events/2008/">2008</a></li>
	    </ul>
	{% if past_event_list %}
	    {% for event in past_event_list %}
	    	<!-- <p>
	        {{ event.start_date|date:"m.d.Y"}}  {{ event.start_time|time:"h:i a"}}
	        <br/>
	        {{ event.title}}
	        </p> -->
	        <!-- {% include 'event_module.html' with verbose='true' %} -->
	        {% embed_event_module event 'true' %}
	    {% endfor %}
	{% else %}
		<p>
	    no past events
	    </p>
	{% endif %}
	</p>
</div>
{% endblock %}
