

{% comment %}
{% embed_work_module 'some thing' 'otherThing' %}
{% endcomment %}

<article class="event">

	{% if event.name %}
		<div class="datetime">
			<h2>
				{% if event.name != "the wulf. 2015 fundraiser" %}
				{{ event.start_date|date:"m.d.Y"}} {{ event.start_time|time:"g:i a"}}
				{% if event.end_date != event.start_date %} 
					{% if event.end_date %}
						- {{event.end_date|date:"m.d.Y"}} 
					{% endif %}

					{% if event.end_time %}
						{{event.end_time|time:"h:i a"}} 
					{%endif%} 
				{%endif%}
				{%endif%}
			</h2>
		</div>
	<header>
		{% with "http://www.thewulf.org/events/details/"|add:event.id|add:"/" as link %}
		<h2 class="name"><a href="{{link}}">{{ event.name }}</a></h2>
		{% endwith %}
	</header>

	<div class="details">
		{% with event.venues.all as venues %}
    		{% if venues|length > 1 %}
    			<div class="venues">
        			{% for venue in venues %}
						{{ venue.name }}
					{% endfor %}
				</div>
			{% else %}
				{% if venues|length == 1 and venues.0.name != 'the wulf.' %}
					<div class="venues">
						the wulf. @ {{ venues.0.name}}
					</div>
    			{% endif %}
    		{% endif %}
    	{% endwith %}
	
    		
		<div class="description">
    		{% if verbose == 'true' and event.description %}
    			{{ event.description|safe }}
    		{% else %}
    			{{ event.short_description|safe }}
    		{% endif %}
    	</div>
		

			{% comment %}
			
    		{% if verbose == 'true' and event.curators.all|length > 0 %}
    			<div class="curators">
        			{% with event.curators.all as curators %}
		        			{% for curator in curators %}
								{{ curator.name }}, 
							{% endfor %}
		        	{% endwith %}
		        </div>
    		{% endif %}  
    		{% endcomment %}
			
			{% comment %}
    		{% embed_program_module event %}
    		{% endcomment %}

		</div>
    {% endif %}
    
</article>
	        		{% comment %}
	        		{% if event.program_set.all|length > 0 %}
		        		<li>
		        			<ul>
		        			{% with event.program_set.all as programs %}
		        				
		        				{% with previous_parent_work as "" %}
		        				
			        				{% for program in programs %}
			        					{% with program.works.all.select_subclasses as works %}
			        					
			        						{% for work in works %}
			        							
			        							{% if work|check_type == "Movement" %}
				        							{% if work.parent_work != previous_parent_work %}
				        								<li>{{ work.parent_work.name }}</li>
				        								<li>Movement: {{ work.name }}</li>
				        								
				        								
				        							{% else %}
				        							
				        								<li>Movement: {{ work.name }}</li>
				        								
				        							{% endif %}
			        							{% endif %}
			        							
				        							<li>PROGRAM: {{work.name}}</li>
				        								
				        								<li></li>
				        								
				        							<ul>
					        							{% for performer in work.performer_set.all %}
					        							<li><a href="/profile/?id={{performer.performer.id}}">{{performer.performer.name}}</a></li>
					        							{% endfor %}
					        							
				        							</ul>
			        							
			        						{% endfor %}	
			        					{% endwith %}
			        				{% endfor %}
		        				{% endwith %}
		        					
		        			{% endwith %}
		        			</ul>
		        			
		        		</li>
		        	{% endif %}
					{% endcomment %}



{% if event.eventaudiorecording_set.all|length > 0 %}
		        		<li>
		        			<ul>
		        			{% with event.eventaudiorecording_set.all as programs %}
		        			<div class="program">
		        			{% for program in programs %}
		        			
		        			{% for work in program.works.all %}
		        			
		        			<h3>{{ work.name }}</h3>
		        			
		        			{% for author in work.authors.all %}
								by {{ author }}
							{% endfor %}
		        			
		        			{% endfor %}
		        			
		        			{% comment %}
		        			<li>
		        			<audio controls preload="none">
		        				<source src="{{MEDIA_URL}}{{program.compressed_master_recording.url}}" type="audio/mpeg">
		        				<source src="{{MEDIA_URL}}{{program.uncompressed_master_recording.url}}" type="audio/wave">
		        				Your browser does not support this audio format
		        			</audio>
		        			</li>
		        			{% endcomment %}
		        			
		        			{% if program.is_streaming_disabled  %}
		        			
		        			<li></li>
		        			
		        			{% else %}
		        			
			        		{% if program.compressed_master_recording.path|file_exists or program.uncompressed_master_recording.path|file_exists %}
			        		
			        		<li><a class ="playAudio" href="{{MEDIA_URL}}{{ program.compressed_master_recording.url }}">--listen--</a></li>
			        			
			        		{% else %}
			        		
			        		<li></li>
			        		
			        		{% endif %}
			        		
			        		{%endif%}
			        		
<br>
{% endfor %}
</div>
{% endwith %}
</ul>
</li>
{% endif %}
<br />

    	
