
<header>
	<h1 class="logo"><a href="http://www.thewulf.org/">the wulf.</a></h1>
	<nav>
		<ul>
		    <li><a href="http://www.thewulf.org/home/">about</a></li>
		    <li><a href="http://www.thewulf.org/events/">events</a></li>
		    <li><a href="http://www.thewulf.org/contact/">contact</a></li>
		    <li><a href="http://www.records.thewulf.org">records</a></li>
	    </ul>
	</nav>
    <div class="address vcard">
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1026+south+santa+fe+ave+los+angeles+ca+90021&sll=34.108393,-118.152466&sspn=0.596948,1.230469&ie=UTF8&ll=34.031803,-118.229949&spn=0.009336,0.019226&z=16&iwloc=A" target="_BLANK">
	  		<span class="street-address">1026 s. santa fe ave. #203</span>,
	  			<span class="locality"> los angeles</span>, 
	  			<abbr class="region" title="California">ca</abbr> 
	  			<span class="postal-code">90021</span>
	  				</a>
	</div>
	<p>
		<nav>
	    <ul>
	    	<li class="membership">
		    	<a href="http://www.thewulf.org/membership/">become a member of <span class="logo">the wulf.</span></a>
		    </li>
		    <li class="donate">
		    	{% comment %}
		    	<a href="http://www.usaprojects.org/project/the_wulf" target="_blank">donate to <span class="logo">the wulf.</span></a>
		    	{% endcomment %}
		    	<a href="http://www.thewulf.org/donate" target="_blank">donate to <span class="logo">the wulf.</span></a>
		    </li>
	    </ul>
    </nav>
    </p>
</header>
