{% extends "site_frame.html" %}
{% block content %}
<div id="home">
	{% comment %}
	{% embed_profile_module venue 'true' %}
	{% endcomment %}

	<div class="events">
	
		<h1>upcoming events</h1>
		
		
		{% embed_event_module fundraiser 'false' %}
		
		
		{% if upcoming_event_list %}
		    {% for event in upcoming_event_list %}
		    	
		    	{% comment %}
		    	{% embed_event_module event 'false' %}
		    	{% endcomment %}
		    	
		    	
		    	{% if event.name != 'the wulf. 2015 fundraiser' %}
		    
					{% embed_event_module event 'false' %}
			
				{% endif %}
				
			
		    {% endfor %}
		{% else %}
			<p>
		    no upcoming events
		    </p>
		{% endif %}
	</div>
</div>

<div id="footer">

		<h1>welcome to our new website</h1> 
		</p>
		<p>
		it does not look much different than the old one for now, but there is some serious stuff going on under the hood that will allow us to add more features and make information about events, artists, and their works more accessible.
		so stay tuned...
		</p>
		
		<h1>about</h1>
		<p>
			the wulf. is a 501(c)(3) non-profit arts organization. tax deductible contributions to the extent permitted by law may be made payable to the wulf. click on the image below to be directed to our donate page.
		</p>

		<p class="donate">
	    	<a href="http://www.thewulf.org/donate/">donate to <span class="logo">the wulf.</span></a>
	    </p>
		<p>

			basically, we are going to keep all events free. that is the bottom line. donations will be used to offset costs of the organization.
		</p><p>
			Performances this year have been made possible in part by grants from the Los Angeles County Arts Commission, the Amphion Foundation, and the Aaron Copland fund for music.
		</p>

		<p>
			<img src="http://www.thewulf.org/media/legacy/lacounty.jpg" width="272" height="272" /> </p><p>
			<img src="http://www.thewulf.org/media/legacy/AaronCoplandFundlogo.jpg" width="272" height="44" /> </p><p>
			<img src="http://www.thewulf.org/media/legacy/amphion_logo.jpg" width="272" height="44" />
		</p>
		
		<p> In the past, we have received funds from the City of Los Angeles Department of Cultural Affairs and the Metabolic Studio (a direct charitable activity of the Annenberg Foundataion). </p>
		
		<p>
		    <img src="http://www.thewulf.org/media/legacy/DCA_LOGO.jpg" width="272" height="44" />
			<img src="http://www.thewulf.org/media/legacy/Metabolic.png" width="272" height="44" /> 
			<img src="http://www.thewulf.org/media/legacy/Annenberg.jpg" width="188" height="44" />
		</p>
		
	</div>
{% endblock %}
