{% extends "site_frame.html" %}
{% block content %}
<div id="home">
	{% comment %}
	{% embed_profile_module venue 'true' %}
	{% endcomment %}

	<div class="events">
	
		<h1>upcoming events</h1>
		
{% comment %}		
		{% embed_event_module fundraiser 'false' %}
{% endcomment %}	
		
		{% if upcoming_event_list %}
		    {% for event in upcoming_event_list %}
		    	
		    	{% embed_event_module event 'false' %}
		    	
{% comment %}		    	
		    	{% if event.name != 'the wulf. 2015 fundraiser' %}
		    
					{% embed_event_module event 'false' %}
			
				{% endif %}
{% endcomment %}				
			
		    {% endfor %}
		{% else %}
			<p>
		    no upcoming events
		    </p>
		{% endif %}
	</div>
</div>
{% endblock %}
