{% extends "site_frame.html" %}

{% block content %}

<div>
	<br>
<p>One of the most helpful ways to support the wulf. is to become a member through a monthly subscription. 
As an incentive, subscribers of $10 or more will receive a quarterly newsletter 
which will include texts and artifacts from the artists who present here.
</p>
<br>
<table border="1" cellspacing="1" cellpadding="5" align="center">
<tbody>
<tr>
<td colspan="3" align="center" valign="middle">
become a subscribing member
</td>
</tr>
<tr>
<td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=H2EAVEEASCQSS" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
<td align="center" valign="middle">$10</td>
</tr>
<tr>
<td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=SKNNUJMLTVPA6" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
<td align="center" valign="middle">$20</td>
</tr>
<tr>
<td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=VK83SAH53MEVG" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
<td align="center" valign="middle">$30</td>
</tr>
<tr>
<td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=WRT5Z8UDTZE9U" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
<td align="center" valign="middle">$50</td>
</tr>
<tr>
<td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=H95ZXNTTT4MB4" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
<td align="center" valign="middle">$100</td>
</tr>
<tr>
<td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=BML88Y6FQGNQ6" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
<td align="center" valign="middle">$150</td>
</tr>
<tr>
<td align="center" valign="middle"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=Z4LHG7PEDNTH6" target="_blank"><img src="/media/legacy/subscribepp.gif" alt="" width="91" height="21" /></a></td>
<td align="center" valign="middle">$200</td>
</tr>
<tr>
<td colspan="3" align="center" valign="middle">you can unsubscribe at any time.</td>
</tr>
</tbody>
</table>
</div>


{% endblock %}
